{% extends 'blog/base.html' %}



{% block content %}
    <div class="post mt-5">
        {% if post.published_date %}
            <div style="color: #a7cd00;" class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        
        {% if user.is_authenticated %}
        
        <a style="color: red;" class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Comment <i class="bi bi-chat-text"></i></a>
        <a style="color: red;" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="bi bi-pencil"></i></a>
        <a style="color:red;" class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><i class="bi bi-x-circle"></i></a>
        

        {% endif %}    
        
        <h2 style="color: #9a32cd;" >{{ post.title }}</h2>
        <p><strong>{{ post.subtitle }}</strong></p>

        {% if post.imagen %}
        <img src="{{ post.imagen.url }}">
        {% endif %}
        
        <p>{{ post.text|linebreaksbr }}</p>


        
        

        {% if post.video %}

        <iframe width="560" height="315" 
        src= "{{ post.video.url.vayksn4Y93A }}"  
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        {% endif %} 

        {% if post.imagen2 %}
        <img src="{{ post.imagen2.url }}">
        {% endif %}
        
        
         
            
        
        <!---- <iframe src="https://www.youtube.com/embed/wuko2euXYxw?controls=0&showinfo=0&disablekb=1"></iframe>       
        -->    
        
    </div>
    
    <hr>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div style="color: #a7cd00;" class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a  class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span   class="glyphicon glyphicon-remove"></span></a>
                <a  class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span  class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong style="color: red;"> {{ comment.author }} <i class="bi bi-chat-text"></i></strong>
        <p>{{comment.text|linebreaks }}</p>



        
    

    </div>
    {% endif %}
{% empty %}
    <p class="text-danger">No comments <i class="bi bi-chat-text"></i></p>




{% endfor %}

{% endblock %}

